.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      .side-header__box-menu
        =link_to new_group_path, class: "side-header__box-menu__edit-btn" do
          = icon('fas', 'edit')
        =link_to edit_user_path(current_user), class: "side-header__box-menu__cog-btn" do
          = icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__group-name
            = group.name
          .group__latest-message
            = group.show_last_message